<<<<<<< HEAD
.about-text, .about-pic {
	margin-bottom: 20px;
}

.about-pic {
	text-align: center;
=======
.about-text, .about-pic {
	margin-bottom: 20px;
}

.about-pic {
	text-align: center;
>>>>>>> origin/master
}