.button {
	a {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		color: $yellow;
		font-family: $osans;
		font-weight: 400;
		font-size: 14px;
		padding: 10px;
		border: 2px solid $yellow;
		&:hover {
				color: $light-black;
				border-color: $light-black;
		}
	}
}

.active-button {
	a {
		border-left: 10px solid $yellow !important;
		border-right: 10px solid $yellow !important;
		&:hover {
			border-color: $white !important;
		}
	}
}

button {
	text-transform: uppercase;
	border: 2px solid $yellow;
	padding: 10px 30px;
	background-color: $yellow;
	font-family: $roboto;
	font-weight: 800;
	cursor: pointer;
	font-size: 30px;
	color: $white;
	transition: .2s;
		&:hover {
			background-color: $light-gray;
			color: $yellow;
		}
}