.project {
	background-color: $purple;
	.block-header {
		h1 {
			color: $white;
		}
	}
}

.project-buttons {
	text-align: center;
	.button {
		padding-right: 5px;
		padding-left: 5px;
		display: inline-block;
		a {
			color: $white;
			padding-left: 30px;
			padding-right: 30px;
			&:hover {
				color: $white;
				border-color: $white;
			}
		}
	}
}