.social {
	float: right;
	cursor: default;
	li {
		display: inline-block;
		margin: 0 5px;
		 a {
		 	color: $white;
		 	width: 16px;
		 	height: 16px;
		 	display: block;
		 		&:hover {
		 			color: $black;
		 		}
		 		&:before {
		 			font-family: "flaticon";
		 			font-size: 16px;
		 		}
		}
	}
}

.facebook {
	a {
		&:before {
			content: $font-Flaticon-facebook-logo;
		}
	}
}

.twitter {
	a {
		&:before {
			content: $font-Flaticon-twitter;
		}
	}
}

.googlepl {
	a {
		&:before {
			content: $font-Flaticon-google-plus-symbol;
		}
	}
}

.dribbble {
	a {
		&:before {
			content: $font-Flaticon-dribbble;
		}
	}
}

.behance {
	a {
		&:before {
			content: $font-Flaticon-behance-logo;
		}
	}
}

.linkedin {
	a {
		&:before {
			content: $font-Flaticon-linkedin-logo;
		}
	}
}

.instagram {
	a {
		&:before {
			content: $font-Flaticon-instagram-social-network-logo-of-photo-camera;
		}
	}
}

.youtube {
	a {
		&:before {
			content: $font-Flaticon-youtube-logo;
		}
	}
}